<html lang="zh-CN">
    <head>
        <title>vuln-go</title>
    </head>
    <body>
        holle {{.name}}
        <p></p>
        <a href="/mysql">mysql</a>
        <p></p>
        <a href="/upload">upload</a>
        <p></p>
        <a href="/xss">xss</a>
        <p></p>
        <a href="/redirect">redirect</a>
        <p></p>
        <a href="/exec">exec</a>
        <p></p>
        <a href="/ip">ip</a>
        <p></p>
        <a href="/cors">cors</a>
        <p></p>
        <a href="/ip">ip</a>
        <p></p>
        <a href="/jsonp">jsonp</a>
        <p></p>
        <a href="/path">path</a>
        <p></p>
        <a href="/ssrf">ssrf</a>
        <p></p>
        <a href="/template">template</a>
        <p></p>
        <a href="/xml">xml</a>
    </body>
</html>